<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Affino Control</title>
</head>

<body class="flex bg-ao-mid-blue-200 dark:bg-ao-dk-bg dark:text-ao-dk-text-500" x-data="{ open: false }">

  <!-- Sidebar Nav -->
  <%= require('html-loader!./_cc-nav.html').default %>
  

  <!-- Main Container -->
  <div class="w-full">

    <!-- Breadcrumb & nav -->
    <%= require('html-loader!./_cc-breadcrumb.html').default %>

    <!-- Include Control Home Screen Heading -->
    <%= require('html-loader!./_cc-home-heading.html').default %>

    <!-- Include Stats -->
    <%= require('html-loader!./_cc-stats.html').default %>

    <!-- Include Stats -->
    <%= require('html-loader!./_cc-charts.html').default %>


    <!-- Content -->
    <div class="flex flex-wrap md:flex-nowrap p-4 pt-0 pb-40 md:pb-6 lg:pb-8 md:px-6 lg:px-8 md:space-x-6 lg:space-x-8 2xl:grid 2xl:grid-cols-4 2xl:gap-8 2xl:space-x-0">

      <!-- Main Col -->
      <%= require('html-loader!./_cc-main-column.html').default %>

      <!-- Right Col -->
      <%= require('html-loader!./_cc-rhc.html').default %>

    </div>


  </div>



  <!-- Sidebar Menu -->
  <div class="hidden w-96 h-screen bg-ao-mid-blue-300"></div>

  <!-- JS -->
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.0/dist/alpine.min.js" defer></script>
  <script
  src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"
  charset="utf-8"
></script>

  <script>
   (function () {
        /* Chart initialisations */
        /* Line Chart */
        var config = {
          type: "line",
          data: {
            labels: [
              "January",
              "February",
              "March",
              "April",
              "May",
              "June",
              "July",
            ],
            datasets: [
              {
                label: new Date().getFullYear(),
                backgroundColor: "#33BFCB",
                borderColor: "#33BFCB",
                data: [55, 69, 66, 44, 56, 67, 72],
                fill: false,
              },
              {
                label: new Date().getFullYear() - 1,
                fill: false,
                backgroundColor: "#00758D",
                borderColor: "#00758D",
                data: [40, 68, 40, 74, 56, 60, 75],
              },
            ],
          },
          options: {
            maintainAspectRatio: false,
            responsive: true,
            title: {
              display: false,
              text: "Sales Charts",
              fontColor: "#a0a0a0",
            },
            legend: {
              labels: {
                fontColor: "#a0a0a0",
              },
              align: "end",
              position: "bottom",
            },
            tooltips: {
              mode: "index",
              intersect: false,
            },
            hover: {
              mode: "nearest",
              intersect: true,
            },
            scales: {
              xAxes: [
                {
                  ticks: {
                    fontColor: "#a0a0a0",
                  },
                  display: true,
                  scaleLabel: {
                    display: false,
                    labelString: "Month",
                    fontColor: "#a0a0a0",
                  },
                  gridLines: {
                    display: false,
                    borderDash: [2],
                    borderDashOffset: [2],
                    color: "rgba(160, 160, 160, 0.3)",
                    zeroLineColor: "rgba(160, 160, 160, 0.3)",
                    zeroLineBorderDash: [2],
                    zeroLineBorderDashOffset: [2],
                  },
                },
              ],
              yAxes: [
                {
                  ticks: {
                    fontColor: "#a0a0a0",
                  },
                  display: true,
                  scaleLabel: {
                    display: false,
                    labelString: "Value",
                    fontColor: "#a0a0a0",
                  },
                  gridLines: {
                    borderDash: [3],
                    borderDashOffset: [3],
                    drawBorder: false,
                    color: "rgba(160, 160, 160, 0.3)",
                    zeroLineColor: "rgba(160, 160, 160, 0.3)",
                    zeroLineBorderDash: [2],
                    zeroLineBorderDashOffset: [2],
                  },
                },
              ],
            },
          },
        };
        var ctx = document.getElementById("ao-line-chart").getContext("2d");
        window.myLine = new Chart(ctx, config);

        /* Bar Chart */
        config = {
          type: "bar",
          data: {
            labels: [
              "January",
              "February",
              "March",
              "April",
              "May",
              "June",
              "July",
            ],
            datasets: [
              {
                label: 'Jan',
                backgroundColor: "#33BFCB",
                borderColor: "#33BFCB",
                data: [30, 78, 56, 34, 80, 45, 13],
                fill: false,
                barThickness: 8,
              },
              {
                label: 'Feb',
                fill: false,
                backgroundColor: "#00758D",
                borderColor: "#00758D",
                data: [27, 68, 72, 74, 42, 26, 30],
                barThickness: 8,
              },
            ],
          },
          options: {
            maintainAspectRatio: false,
            responsive: true,
            title: {
              display: false,
              text: "Orders Chart",
            },
            tooltips: {
              mode: "index",
              intersect: false,
            },
            hover: {
              mode: "nearest",
              intersect: true,
            },
            legend: {
              labels: {
                fontColor: "#a0a0a0",
              },
              align: "end",
              position: "bottom",
            },
            scales: {
              xAxes: [
                {
                  display: false,
                  scaleLabel: {
                    display: true,
                    labelString: "Month",
                  },
                  gridLines: {
                    borderDash: [2],
                    borderDashOffset: [2],
                    color: "rgba(160, 160, 160, 0.3)",
                    zeroLineColor: "rgba(160, 160, 160, 0.3)",
                    zeroLineBorderDash: [2],
                    zeroLineBorderDashOffset: [2],
                  },
                },
              ],
              yAxes: [
                {
                  ticks: {
                    fontColor: "#a0a0a0",
                  },
                  display: true,
                  scaleLabel: {
                    display: false,
                    labelString: "Value",
                  },
                  gridLines: {
                    borderDash: [2],
                    drawBorder: false,
                    borderDashOffset: [2],
                    color: "rgba(160, 160, 160, 0.3)",
                    zeroLineColor: "rgba(160, 160, 160, 0.3)",
                    zeroLineBorderDash: [2],
                    zeroLineBorderDashOffset: [2],
                  },
                },
              ],
            },
          },
        };
        ctx = document.getElementById("ao-bar-chart").getContext("2d");
        window.myBar = new Chart(ctx, config);
      })();

  </script>

</body>

</html>