<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Recent History</title>
</head>

<body class="flex bg-ao-mid-blue-200 dark:bg-ao-dk-bg dark:text-ao-dk-text-500" data-section="Social" x-data="{ open: false }">

  <!-- Sidebar Nav -->
  <%= require('html-loader!./_cc-nav.html').default %>


    <!-- Main Container -->
    <div class="w-full">

      <!-- Breadcrumb & nav -->
      <%= require('html-loader!./_cc-breadcrumb.html').default %>

      <!-- Heading -->
      <div class="w-full p-4 md:p-6 lg:px-8 bg-white shadow dark:bg-ao-dk-bg-400">
        <h1 class="leading-tight md:leading-none dark:text-ao-dk-text dark:hover:text-ao-dk-text-500">Recent History</h1>
      </div>

        <!-- Content -->
        <div class="flex flex-wrap p-4 pb-40 md:p-6 lg:p-8 container mx-auto">

          <!-- Recent -->
          <div class="flex flex-col w-full bg-white rounded shadow-sm overflow-hidden text-sm font-normal text-ao-dk-blue-500 border border-ao-mid-blue-300 border-opacity-90 dark:text-ao-dk-text-500 dark:bg-ao-dk-bg-700 dark:border-ao-dk-bg">
            <table class="w-full table-auto border-collapse ">
              <!-- Table Head -->
              <tr class="">
                <th class="md:w-9/12 p-3 font-normal text-left">Item</th>
                <th class="w-24 md:w-3/12 font-normal pr-3 text-right">Last Visited</th>
              </tr>
              <tr class="border-t border-ao-mid-blue-200 dark:border-ao-dk-bg-800">
                <td class="p-3">
                  <div class="flex items-center">
                    <svg class="text-ao-mid-blue-500 flex-shrink-0 w-4 h-4 mr-2 dark:text-ao-dk-text-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                      <path fill-rule="evenodd" d="M4 4a2 2 0 012-2h4.586A2 2 0 0112 2.586L15.414 6A2 2 0 0116 7.414V16a2 2 0 01-2 2H6a2 2 0 01-2-2V4zm2 6a1 1 0 011-1h6a1 1 0 110 2H7a1 1 0 01-1-1zm1 3a1 1 0 100 2h6a1 1 0 100-2H7z" clip-rule="evenodd" />
                    </svg>
                    <h5 class="flex"><a href="#" class="line-clamp-3 md:line-clamp-1 hover:underline">Data is the new capital, but does technology have to trump humanity?</a> </h5>
                  </div>
                </td>
                <td class="text-right pr-3">Feb 12, 2021</td>
              </tr>
              <tr class="border-t border-ao-mid-blue-200 dark:border-ao-dk-bg-800">
                <td class="p-3">
                  <div class="flex items-center">
                    <svg class="text-ao-mid-blue-500 flex-shrink-0 w-4 h-4 mr-2 dark:text-ao-dk-text-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                      <path fill-rule="evenodd" d="M4 4a2 2 0 012-2h4.586A2 2 0 0112 2.586L15.414 6A2 2 0 0116 7.414V16a2 2 0 01-2 2H6a2 2 0 01-2-2V4zm2 6a1 1 0 011-1h6a1 1 0 110 2H7a1 1 0 01-1-1zm1 3a1 1 0 100 2h6a1 1 0 100-2H7z" clip-rule="evenodd" />
                    </svg>
                    <h5 class="flex"><a href="#" class="line-clamp-3 md:line-clamp-1 hover:underline">Asset Manager CEO Breakfast: In a low return/high volatility environment</a> </h5>
                  </div>
                </td>
                <td class="text-right pr-3">Feb 12, 2021</td>
              </tr>
              <tr class="border-t border-ao-mid-blue-200 dark:border-ao-dk-bg-800">
                <td class="p-3">
                  <div class="flex items-center">
                    <svg class="text-ao-mid-blue-500 flex-shrink-0 w-4 h-4 mr-2 dark:text-ao-dk-text-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                      <path d="M2 6a2 2 0 012-2h5l2 2h5a2 2 0 012 2v6a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" />
                    </svg>
                    <h5 class="flex"><a href="#" class="line-clamp-3 md:line-clamp-1 hover:underline">Event Assets</a> </h5>
                  </div>
                </td>
                <td class="text-right pr-3">Feb 12, 2021</td>
              </tr>
              <tr class="border-t border-ao-mid-blue-200 dark:border-ao-dk-bg-800">
                <td class="p-3">
                  <div class="flex items-center">
                    <svg class="text-ao-mid-blue-500 flex-shrink-0 w-4 h-4 mr-2 dark:text-ao-dk-text-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                      <path d="M2 6a2 2 0 012-2h5l2 2h5a2 2 0 012 2v6a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" />
                    </svg>
                    <h5 class="flex"><a href="#" class="line-clamp-3 md:line-clamp-1 hover:underline">Seminar Event Sponsors</a> </h5>
                  </div>
                </td>
                <td class="text-right pr-3">Feb 11, 2021</td>
              </tr>
              <tr class="border-t border-ao-mid-blue-200 dark:border-ao-dk-bg-800">
                <td class="p-3">
                  <div class="flex items-center">
                    <svg class="text-ao-mid-blue-500 flex-shrink-0 w-4 h-4 mr-2 dark:text-ao-dk-text-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                      <path fill-rule="evenodd" d="M4 4a2 2 0 012-2h4.586A2 2 0 0112 2.586L15.414 6A2 2 0 0116 7.414V16a2 2 0 01-2 2H6a2 2 0 01-2-2V4zm2 6a1 1 0 011-1h6a1 1 0 110 2H7a1 1 0 01-1-1zm1 3a1 1 0 100 2h6a1 1 0 100-2H7z" clip-rule="evenodd" />
                    </svg>
                    <h5 class="flex"><a href="#" class="line-clamp-3 md:line-clamp-1 hover:underline">Welcome and Introduction to the Affino Innovation Briefing 2021</a> </h5>
                  </div>
                </td>
                <td class="text-right pr-3">Feb 11, 2021</td>
              </tr>
              <tr class="border-t border-ao-mid-blue-200 dark:border-ao-dk-bg-800">
                <td class="p-3">
                  <div class="flex items-center">
                    <svg class="text-ao-mid-blue-500 flex-shrink-0 w-4 h-4 mr-2 dark:text-ao-dk-text-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                      <path d="M2 6a2 2 0 012-2h5l2 2h5a2 2 0 012 2v6a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" />
                    </svg>
                    <h5 class="flex"><a href="#" class="line-clamp-3 md:line-clamp-1 hover:underline">Affino Innovation Briefing 2021</a> </h5>
                  </div>
                </td>
                <td class="text-right pr-3">Feb 11, 2021</td>
              </tr>
              <tr class="border-t border-ao-mid-blue-200 dark:border-ao-dk-bg-800">
                <td class="p-3">
                  <div class="flex items-center">
                    <svg class="text-ao-mid-blue-500 flex-shrink-0 w-4 h-4 mr-2 dark:text-ao-dk-text-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                      <path fill-rule="evenodd" d="M4 4a2 2 0 012-2h4.586A2 2 0 0112 2.586L15.414 6A2 2 0 0116 7.414V16a2 2 0 01-2 2H6a2 2 0 01-2-2V4zm2 6a1 1 0 011-1h6a1 1 0 110 2H7a1 1 0 01-1-1zm1 3a1 1 0 100 2h6a1 1 0 100-2H7z" clip-rule="evenodd" />
                    </svg>
                    <h5 class="flex"><a href="#" class="line-clamp-3 md:line-clamp-1 hover:underline">2020 Seminar Theme Sponsor</a> </h5>
                  </div>
                </td>
                <td class="text-right pr-3">Feb 11, 2021</td>
              </tr>
              <tr class="border-t border-ao-mid-blue-200 dark:border-ao-dk-bg-800">
                <td class="p-3">
                  <div class="flex items-center">
                    <svg class="text-ao-mid-blue-500 flex-shrink-0 w-4 h-4 mr-2 dark:text-ao-dk-text-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                      <path fill-rule="evenodd" d="M4.083 9h1.946c.089-1.546.383-2.97.837-4.118A6.004 6.004 0 004.083 9zM10 2a8 8 0 100 16 8 8 0 000-16zm0 2c-.076 0-.232.032-.465.262-.238.234-.497.623-.737 1.182-.389.907-.673 2.142-.766 3.556h3.936c-.093-1.414-.377-2.649-.766-3.556-.24-.56-.5-.948-.737-1.182C10.232 4.032 10.076 4 10 4zm3.971 5c-.089-1.546-.383-2.97-.837-4.118A6.004 6.004 0 0115.917 9h-1.946zm-2.003 2H8.032c.093 1.414.377 2.649.766 3.556.24.56.5.948.737 1.182.233.23.389.262.465.262.076 0 .232-.032.465-.262.238-.234.498-.623.737-1.182.389-.907.673-2.142.766-3.556zm1.166 4.118c.454-1.147.748-2.572.837-4.118h1.946a6.004 6.004 0 01-2.783 4.118zm-6.268 0C6.412 13.97 6.118 12.546 6.03 11H4.083a6.004 6.004 0 002.783 4.118z" clip-rule="evenodd" />
                    </svg>
                    <h5 class="flex"><a href="#" class="line-clamp-3 md:line-clamp-1 hover:underline">Affino for Membership Organisations</a> </h5>
                  </div>
                </td>
                <td class="text-right pr-3">Feb 11, 2021</td>
              </tr>
              <tr class="border-t border-ao-mid-blue-200 dark:border-ao-dk-bg-800">
                <td class="p-3">
                  <div class="flex items-center">
                    <svg class="text-ao-mid-blue-500 flex-shrink-0 w-4 h-4 mr-2 dark:text-ao-dk-text-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                      <path fill-rule="evenodd" d="M4 4a2 2 0 012-2h4.586A2 2 0 0112 2.586L15.414 6A2 2 0 0116 7.414V16a2 2 0 01-2 2H6a2 2 0 01-2-2V4zm2 6a1 1 0 011-1h6a1 1 0 110 2H7a1 1 0 01-1-1zm1 3a1 1 0 100 2h6a1 1 0 100-2H7z" clip-rule="evenodd" />
                    </svg>
                    <h5 class="flex"><a href="#" class="line-clamp-3 md:line-clamp-1 hover:underline">Data is the new capital, but does technology have to trump humanity?</a> </h5>
                  </div>
                </td>
                <td class="text-right pr-3">Feb 12, 2021</td>
              </tr>
              <tr class="border-t border-ao-mid-blue-200 dark:border-ao-dk-bg-800">
                <td class="p-3">
                  <div class="flex items-center">
                    <svg class="text-ao-mid-blue-500 flex-shrink-0 w-4 h-4 mr-2 dark:text-ao-dk-text-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                      <path fill-rule="evenodd" d="M4 4a2 2 0 012-2h4.586A2 2 0 0112 2.586L15.414 6A2 2 0 0116 7.414V16a2 2 0 01-2 2H6a2 2 0 01-2-2V4zm2 6a1 1 0 011-1h6a1 1 0 110 2H7a1 1 0 01-1-1zm1 3a1 1 0 100 2h6a1 1 0 100-2H7z" clip-rule="evenodd" />
                    </svg>
                    <h5 class="flex"><a href="#" class="line-clamp-3 md:line-clamp-1 hover:underline">Asset Manager CEO Breakfast: In a low return/high volatility environment</a> </h5>
                  </div>
                </td>
                <td class="text-right pr-3">Feb 12, 2021</td>
              </tr>
              <tr class="border-t border-ao-mid-blue-200 dark:border-ao-dk-bg-800">
                <td class="p-3">
                  <div class="flex items-center">
                    <svg class="text-ao-mid-blue-500 flex-shrink-0 w-4 h-4 mr-2 dark:text-ao-dk-text-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                      <path fill-rule="evenodd" d="M4 4a2 2 0 012-2h4.586A2 2 0 0112 2.586L15.414 6A2 2 0 0116 7.414V16a2 2 0 01-2 2H6a2 2 0 01-2-2V4zm2 6a1 1 0 011-1h6a1 1 0 110 2H7a1 1 0 01-1-1zm1 3a1 1 0 100 2h6a1 1 0 100-2H7z" clip-rule="evenodd" />
                    </svg>
                    <h5 class="flex"><a href="#" class="line-clamp-3 md:line-clamp-1 hover:underline">Data is the new capital, but does technology have to trump humanity?</a> </h5>
                  </div>
                </td>
                <td class="text-right pr-3">Feb 12, 2021</td>
              </tr>
              <tr class="border-t border-ao-mid-blue-200 dark:border-ao-dk-bg-800">
                <td class="p-3">
                  <div class="flex items-center">
                    <svg class="text-ao-mid-blue-500 flex-shrink-0 w-4 h-4 mr-2 dark:text-ao-dk-text-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                      <path fill-rule="evenodd" d="M4 4a2 2 0 012-2h4.586A2 2 0 0112 2.586L15.414 6A2 2 0 0116 7.414V16a2 2 0 01-2 2H6a2 2 0 01-2-2V4zm2 6a1 1 0 011-1h6a1 1 0 110 2H7a1 1 0 01-1-1zm1 3a1 1 0 100 2h6a1 1 0 100-2H7z" clip-rule="evenodd" />
                    </svg>
                    <h5 class="flex"><a href="#" class="line-clamp-3 md:line-clamp-1 hover:underline">Asset Manager CEO Breakfast: In a low return/high volatility environment</a> </h5>
                  </div>
                </td>
                <td class="text-right pr-3">Feb 12, 2021</td>
              </tr>
              <tr class="border-t border-ao-mid-blue-200 dark:border-ao-dk-bg-800">
                <td class="p-3">
                  <div class="flex items-center">
                    <svg class="text-ao-mid-blue-500 flex-shrink-0 w-4 h-4 mr-2 dark:text-ao-dk-text-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                      <path d="M2 6a2 2 0 012-2h5l2 2h5a2 2 0 012 2v6a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" />
                    </svg>
                    <h5 class="flex"><a href="#" class="line-clamp-3 md:line-clamp-1 hover:underline">Event Assets</a> </h5>
                  </div>
                </td>
                <td class="text-right pr-3">Feb 12, 2021</td>
              </tr>
              <tr class="border-t border-ao-mid-blue-200 dark:border-ao-dk-bg-800">
                <td class="p-3">
                  <div class="flex items-center">
                    <svg class="text-ao-mid-blue-500 flex-shrink-0 w-4 h-4 mr-2 dark:text-ao-dk-text-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                      <path d="M2 6a2 2 0 012-2h5l2 2h5a2 2 0 012 2v6a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" />
                    </svg>
                    <h5 class="flex"><a href="#" class="line-clamp-3 md:line-clamp-1 hover:underline">Seminar Event Sponsors</a> </h5>
                  </div>
                </td>
                <td class="text-right pr-3">Feb 10, 2021</td>
              </tr>
              <tr class="border-t border-ao-mid-blue-200 dark:border-ao-dk-bg-800">
                <td class="p-3">
                  <div class="flex items-center">
                    <svg class="text-ao-mid-blue-500 flex-shrink-0 w-4 h-4 mr-2 dark:text-ao-dk-text-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                      <path fill-rule="evenodd" d="M4 4a2 2 0 012-2h4.586A2 2 0 0112 2.586L15.414 6A2 2 0 0116 7.414V16a2 2 0 01-2 2H6a2 2 0 01-2-2V4zm2 6a1 1 0 011-1h6a1 1 0 110 2H7a1 1 0 01-1-1zm1 3a1 1 0 100 2h6a1 1 0 100-2H7z" clip-rule="evenodd" />
                    </svg>
                    <h5 class="flex"><a href="#" class="line-clamp-3 md:line-clamp-1 hover:underline">Welcome and Introduction to the Affino Innovation Briefing 2021</a> </h5>
                  </div>
                </td>
                <td class="text-right pr-3">Feb 10, 2021</td>
              </tr>
              <tr class="border-t border-ao-mid-blue-200 dark:border-ao-dk-bg-800">
                <td class="p-3">
                  <div class="flex items-center">
                    <svg class="text-ao-mid-blue-500 flex-shrink-0 w-4 h-4 mr-2 dark:text-ao-dk-text-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                      <path d="M2 6a2 2 0 012-2h5l2 2h5a2 2 0 012 2v6a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" />
                    </svg>
                    <h5 class="flex"><a href="#" class="line-clamp-3 md:line-clamp-1 hover:underline">Affino Innovation Briefing 2021</a> </h5>
                  </div>
                </td>
                <td class="text-right pr-3">Feb 10, 2021</td>
              </tr>
              <tr class="border-t border-ao-mid-blue-200 dark:border-ao-dk-bg-800">
                <td class="p-3">
                  <div class="flex items-center">
                    <svg class="text-ao-mid-blue-500 flex-shrink-0 w-4 h-4 mr-2 dark:text-ao-dk-text-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                      <path fill-rule="evenodd" d="M4 4a2 2 0 012-2h4.586A2 2 0 0112 2.586L15.414 6A2 2 0 0116 7.414V16a2 2 0 01-2 2H6a2 2 0 01-2-2V4zm2 6a1 1 0 011-1h6a1 1 0 110 2H7a1 1 0 01-1-1zm1 3a1 1 0 100 2h6a1 1 0 100-2H7z" clip-rule="evenodd" />
                    </svg>
                    <h5 class="flex"><a href="#" class="line-clamp-3 md:line-clamp-1 hover:underline">2020 Seminar Theme Sponsor</a> </h5>
                  </div>
                </td>
                <td class="text-right pr-3">Feb 10, 2021</td>
              </tr>
              <tr class="border-t border-ao-mid-blue-200 dark:border-ao-dk-bg-800">
                <td class="p-3">
                  <div class="flex items-center">
                    <svg class="text-ao-mid-blue-500 flex-shrink-0 w-4 h-4 mr-2 dark:text-ao-dk-text-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                      <path fill-rule="evenodd" d="M4.083 9h1.946c.089-1.546.383-2.97.837-4.118A6.004 6.004 0 004.083 9zM10 2a8 8 0 100 16 8 8 0 000-16zm0 2c-.076 0-.232.032-.465.262-.238.234-.497.623-.737 1.182-.389.907-.673 2.142-.766 3.556h3.936c-.093-1.414-.377-2.649-.766-3.556-.24-.56-.5-.948-.737-1.182C10.232 4.032 10.076 4 10 4zm3.971 5c-.089-1.546-.383-2.97-.837-4.118A6.004 6.004 0 0115.917 9h-1.946zm-2.003 2H8.032c.093 1.414.377 2.649.766 3.556.24.56.5.948.737 1.182.233.23.389.262.465.262.076 0 .232-.032.465-.262.238-.234.498-.623.737-1.182.389-.907.673-2.142.766-3.556zm1.166 4.118c.454-1.147.748-2.572.837-4.118h1.946a6.004 6.004 0 01-2.783 4.118zm-6.268 0C6.412 13.97 6.118 12.546 6.03 11H4.083a6.004 6.004 0 002.783 4.118z" clip-rule="evenodd" />
                    </svg>
                    <h5 class="flex"><a href="#" class="line-clamp-3 md:line-clamp-1 hover:underline">Affino for Membership Organisations</a> </h5>
                  </div>
                </td>
                <td class="text-right pr-3">Feb 10, 2021</td>
              </tr>
              <tr class="border-t border-ao-mid-blue-200 dark:border-ao-dk-bg-800">
                <td class="p-3">
                  <div class="flex items-center">
                    <svg class="text-ao-mid-blue-500 flex-shrink-0 w-4 h-4 mr-2 dark:text-ao-dk-text-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                      <path fill-rule="evenodd" d="M4 4a2 2 0 012-2h4.586A2 2 0 0112 2.586L15.414 6A2 2 0 0116 7.414V16a2 2 0 01-2 2H6a2 2 0 01-2-2V4zm2 6a1 1 0 011-1h6a1 1 0 110 2H7a1 1 0 01-1-1zm1 3a1 1 0 100 2h6a1 1 0 100-2H7z" clip-rule="evenodd" />
                    </svg>
                    <h5 class="flex"><a href="#" class="line-clamp-3 md:line-clamp-1 hover:underline">Data is the new capital, but does technology have to trump humanity?</a> </h5>
                  </div>
                </td>
                <td class="text-right pr-3">Feb 09, 2021</td>
              </tr>
              <tr class="border-t border-ao-mid-blue-200 dark:border-ao-dk-bg-800">
                <td class="p-3">
                  <div class="flex items-center">
                    <svg class="text-ao-mid-blue-500 flex-shrink-0 w-4 h-4 mr-2 dark:text-ao-dk-text-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                      <path fill-rule="evenodd" d="M4 4a2 2 0 012-2h4.586A2 2 0 0112 2.586L15.414 6A2 2 0 0116 7.414V16a2 2 0 01-2 2H6a2 2 0 01-2-2V4zm2 6a1 1 0 011-1h6a1 1 0 110 2H7a1 1 0 01-1-1zm1 3a1 1 0 100 2h6a1 1 0 100-2H7z" clip-rule="evenodd" />
                    </svg>
                    <h5 class="flex"><a href="#" class="line-clamp-3 md:line-clamp-1 hover:underline">Asset Manager CEO Breakfast: In a low return/high volatility environment</a> </h5>
                  </div>
                </td>
                <td class="text-right pr-3">Feb 09, 2021</td>
              </tr>
            </table>

           
            <div class="p-4">
              <button type="button" class="w-full text-center px-4 py-2 rounded text-sm font-medium text-ao-dk-blue-600 bg-ao-mid-blue-300 border border-ao-mid-blue-300 hover:bg-ao-mid-blue-200 hover:shadow-sm hover:text-ao-dk-blue-500 dark:bg-ao-dk-bg-400 dark:text-ao-dk-text-500 dark:hover:bg-ao-dk-bg-800 dark:hover:text-ao-dk-text-200 dark:border-transparent transition duration-300 ease-in-out">
                Load more
              </button>
            </div>

          </div>

        </div>

    </div>


    <!-- Info bar -->
    <%= require('html-loader!./_cc-infobar.html').default %>

    <!-- JS -->
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.0/dist/alpine.min.js" defer></script>

</body>

</html>